.container{
  width: 700px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}

.satu
{
  margin-top: 25px;
  background-color: #3bdb3e;
  position: absolute;
  border: solid;
  border-image-source: url("hearts.png");
  border-image-repeat: round;
  border-image-width: 16px;
  border-image-slice: 33%;
  border-image-outset: 17px;
  left: 10px;
  top: 10px;
  z-index: 2;
  width: 150px;
  height: 150px;
 }
.dua{
  margin-top: -75px;
  background-color: black;
  position: absolute;
  left: 35px;
  top: 135px;
  z-index: 1;
  width: 159px;
  height: 159px;
}

.tiga{
  background-color: #0062ff;
  position: absolute;
  border: solid;
  border-image-source: url("border1.png");
  border-image-repeat: round;
  border-image-width: 25px;
  border-image-slice: 33%;
  border-image-outset: 17px;
  left: 340px;
  top: 320px;
  width: 150px;
  height: 150px;
  margin-top: -40px;
  box-shadow: 9px 9px 20px;
}
